:root {
  --primary-color: #9DC88D;
  --secondary-color: #164A41;

  --white-bg: #fff;
  --white-text: #fff;

  --dark-1: rgb(58, 58, 58);
  --dark-2: rgb(95, 95, 95);
  --dark-5: rgb(197, 197, 197);
  
}